# Central Supabase PostgreSQL Database Connection
DATABASE_URL="postgresql://postgres:[YOUR-SUPABASE-PASSWORD]@db.nulzebcpkymairtcdjex.supabase.co:5432/postgres"

# NextAuth Configuration
NEXTAUTH_SECRET="29ubrjsyhrQn/7hsuz6ymQy1rd5u4vSGOduLzAzoi7g="
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_TRUST_HOST="true"

# Google OAuth Credentials (Optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Supabase Credentials
SUPABASE_URL="https://nulzebcpkymairtcdjex.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51bHplYmNwa3ltYWlydGNkamV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5ODAwMjgsImV4cCI6MjEwMDU1NjAyOH0.SQF_fCBCOjAbNMWUTziM980xPP3DqekwEPaenYxEDds"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51bHplYmNwa3ltYWlydGNkamV4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDk4MDAyOCwiZXhwIjoyMTAwNTU2MDI4fQ.z-2An00yzfcjir3UXvc56Ueqjo8Wx0DnfQ5oO36HLhU"
